@page
@model DashboardModel
@{
    ViewData["Title"] = "Tablero";
}


<div class="wrapper">

    <aside class="sidebar d-flex align-items-center p-10">
        <div class="d-flex">
            <div class="sidebar-logo">
                <a href=""><img class="img-fluid" src="/img/AWAQWhite.png" alt=""></a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="" class="sidebar-link">
                    <i class="lni lni-list"></i>
                    <span>Tablero</span>
                </a>
            </li>
            <!--
            <li class="sidebar-item">
                <a href="" class="sidebar-link">
                    <i class="lni lni-license"></i>
                    <span>Vista singular</span>
                </a>
            </li>
            -->
            
            <li class="sidebar-item">
                <a href="Popup" class="sidebar-link">
                    <i class="lni lni-user"></i>
                    <span>Solicitudes</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <a href="Index" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Salir</span>
            </a>
        </div>
    </aside>
    <div class="main p-3">
        <div class="container-fluid">
            <div class="container">
                <div class="top">
                    <div class="row">
                        <div class="col-sm">
                            <h1>Tablero</h1>
                        </div>
                        <div class="col-sm">
                            <div class="row text-center">
                                <h3>ID Admin</h3>
                            </div>
                            <div class="row text-center">
                                <h1>@Model.id_admin</h1> 
                            </div>
                        </div>
                        <div class="col-sm">
                            <form method="post" asp-page-handler="Busqueda">
                                <div class="input-group mb-3">
                                    <input asp-for="id_usuarioSeleccionado" type="number" required min="1" class="form-control" placeholder="Buscar ID">
                                    <input type="hidden" name="mail" value="@Model.mail" />
                                    <input type="hidden" name="id_admin" value="@Model.id_admin" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit">
                                            <i class="lni lni-magnifier"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>

                <!-- Graphs -->
                <div class="graf">
                    <div class="row">
                        <div class="col squares hide">
                            <p class="mt-1 text-center">Porcentaje de especies encontradas</p>
                            <div class="text-center">
                                <iframe scrolling="no" style="margin-top: -2px;" width="192" height="192" src="https://lookerstudio.google.com/embed/reporting/a39ec544-2407-4942-bd9f-4ea7af04a7eb/page/qTZwD"></iframe>
                            </div>
                        </div>
                        <div class="col squares" style="overflow: hidden;">
                            <p class="mt-1 text-center">Edad de usuarios registrados</p>
                            <div class="text-center">
                                <iframe scrolling="no" style="margin-top: 20px;" width="192" height="192" src="https://lookerstudio.google.com/embed/reporting/8a18d72f-6c5f-4926-992f-adccf6678fb5/page/ToZwD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                            </div>

                        </div>
                        <div class="col squares" style="overflow: hidden;">
                            <p class="mt-1 text-center">Ubicación de usuarios registrados</p>
                            <div class="text-center">
                                <iframe scrolling="no" style="margin-top: 0px;" width="192" height="250" src="https://lookerstudio.google.com/embed/reporting/4baa946f-37bd-46eb-ae18-4de1d03b8540/page/lzZwD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                            </div>
                        </div>
                        <div class="col squares" style="overflow: hidden;">
                            <p class="mt-1 text-center">Usuarios con más minutos jugados</p>
                            <div class="text-center">
                                <iframe scrolling="no" style="margin-top: -2px;" width="192" height="250" src="https://lookerstudio.google.com/embed/reporting/7d7353e3-59f3-4e7d-b65f-1bcf5040d150/page/oAawD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="container-fluid">
                    <!-- table -->
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p class="futurosBiomonitores">Futuros Biomonitores</p>
                            </div>
                            <div class="col align-text-bottom">
                                <form method="post">
                                    <input type="hidden" name="mail" value="@Model.mail" /> 
                                    <input type="hidden" name="id_admin" value="@Model.id_admin" /> 

                                    <div class="text-sm-end">
                                        <button class="btn verTodos" type="submit">
                                            <p class="text-sm-end">Ver todos &nbsp <i class="lni lni-arrow-right"></i> </p>
                                        </button>
                                    </div>

                                </form>


                            </div>
                        </div>
                    </div>

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th> ID </th>
                                <th> Nombre </th>
                                <th> Correo </th>
                                <th> País </th>
                                <th> Última Conexión </th>
                                <th> Progreso </th>
                                <th> Estatus </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListaUsuarios)
                                {
                                    var AprobadoOPendiente = item.estatus == "Completado" ? "aprobado" : "pendiente";
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.id_usuario)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.correo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.pais)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ultima_conexion)</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: @Html.DisplayFor(modelItem => item.progreso)%;"
                                                 aria-valuemin="0" aria-valuemax="100"> @Html.DisplayFor(modelItem => item.progreso)% </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="@item.css text-center align-middle">
                                                @item.estatus
                                            </div>
                                            
                                        </td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>